.title{
  font-family: 'Roboto Slab', serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 120%;
  padding: 5px;
}

.content{
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 150%;
  padding: 5px;
}

.content b{
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

.content ul li{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  padding-bottom: 18px;
  line-height: 130%;
}